@charset "utf-8";
/* CSS Document */

html { 
  font-size:62.5%; 
}

body { 
  font-family: "Century Gothic", "Apple gothic", tahoma, arial, sans-serif; 
}

h1 { 
  font-size: 2rem; 
}

#content {
  width:400px; 
  margin:0 auto;
}

select {
	width:250px;
	padding:10px;
}
